* {
	color: white;	
  text-align: center;
}

p {
	font-size: 20px;
}

label {
	font-size: 20px;
}

input {
	font-size: 20px;
	margin-bottom: 10px;
	background-color: #574343;
	color: white;
}

button {
	padding: 10px;
	border: 6px solid #f09292;
	border-radius: 5px;
	background-color: transparent;
	font-size: 20px;
}

body {
	margin-top: 10px;
	background-color: #282c34;
}

a {
	font-size: 20px;
  color: #f09292;
}
